
.container {
    background-color: #e881e8;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.lembrete {
    margin-top: 10px;
    background-color: #fbcdfb;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lembrete h2 {
    margin: 0;
    font-size: 20px;
}

.lembrete p {
    margin: 5px 0;
}

.btn {
    background-color: #49eaab;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d953c3; 
}

.btn-edit {
    background-color: #5cb85c;
}

.btn-delete {
    background-color: #d9534f; 
}

body {
    background-color: #bcd5ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    border-radius: 10px;
    background-color: #e881e8;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.63);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

input[type="text"],
input[type="time"],
input[type="date"] {
    width: 70%;
    margin-left: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#adicionar {
    width: 250px;
    margin-left: 5px;
    color: white; 
    border: none; 
    background-color: #ae0eaa;
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    font-size: 16px;

}


#voltar:hover {
    background-color: #d953c3; 
}


#salvar, #voltar {
    background-color: #ae0eaa;
;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 70%;
    margin-left: 90px;
    margin-top: 10px;

}



.btn:hover {
    background-color: #d953c3; 
}

.btn-edit {
    margin-left: 120px;
    width: 50px;
    background-color: #5cb85c; 
    color: white; 
    border: 1px solid #4cae4c; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
}

.btn-edit:hover {
    background-color: #4cae4c; 
}

.btn-delete {
    width: 50px;
    background-color: #d9534f; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
}

.btn-delete:hover {
    background-color: #c9302c; 
}



.btn-back {
    background-color: #5bc0de; 
}

#voltar{
    background-color: #ae0eaa;
}


#voltar:hover {
    background-color: #d953c3; 
}


#voltar2{
    background-color: #ae0eaa;
}


#voltar2:hover {
    background-color: #d953c3; 
}



#buscar, #buscarlemb{
    background-color: #ae0eaa;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 30%;
    margin-left: 5px;
    margin-top: 10px;

}


#buscar:hover {
    background-color: #d953c3; 
}

#buscarlemb:hover {
    background-color: #d953c3; 
}


#pc{
    max-width: 40%;
}

.lembrete {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 15px; 
}

.lembrete h2 {
    flex: 2; 
    max-width: 200px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.lembrete p {
    flex: 1; 
    margin: 5px 0; 
    text-align: left; 
}


